{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Gjango_shop</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand" style="color:white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color:white" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color:white" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-expanded="false" style="color:white">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My account</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin panel</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">
    <ul class="nav">
        {% for i in categoriy %}
       <li class="nav-item">
           <a class="nav-link active" href="#" style="color:black"><b>{{ i.name_uz }}</b></a>
       </li>
        {% endfor %}
    </ul>

</div>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container">-->
<!--        {% for i in categoriy %}-->
<!--        <a class="navbar1 navbar-brand" href="#">Kiyim</a>-->
<!--        {% endfor %}-->
<!--        &lt;!&ndash;        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"&ndash;&gt;-->
<!--        &lt;!&ndash;                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--        &lt;!&ndash;            <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--        &lt;!&ndash;        </button>&ndash;&gt;-->

<!--    </div>-->
<!--</nav>-->


<div class="container mt-3">
    <h3>Top mahsulotlar</h3>
    <div class="row mt-3">
        {% for i in product %}
        <div col-4>
            <div class="card mt-3" style="width: 18rem;margin-left:40px">
                <img src="{{ i.img.url }}" style="height:250px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name_uz }}</h5>
                    <p class="card-text" style="font-size:16px">{{ i.text_uz }}</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>